# Ignore Visual Studio cache and user-specific files
.vs/
*.user
*.suo

# Ignore build output
bin/
obj/

# Others
*.log
*.tmp
"/TravelXpress_Package_System/bin/" 
"/TravelXpress_Package_System/obj/" 
"/TravelXpress_Package_System/.vs/" 
".vs/" 
TravelXpress_Package_System/TravelXpress_Package_System/Module/ConnectionClass.cs
